

.Weather-Display {
    height: 100vh;
    width: 100vw;
    display: block;
}

.WD-Welcome-Banner {
    width: 100%;
    height: 25vh;
    background-color: pink;
}
.WD-Info {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.WD-Info-Separator {
    width: .5px;
    height: 100%;
    display: flex;
    align-items: center;
}

#WD-Info-Separator-Line {
    width: 100%;
    height: 80%;
    background-color: black;
}

.WD-Info-Image-Container {
    height: 80%;
    width: 40%;
    background-color: blue;
}

