.Splash-Page {
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.Splash-Page-Welcome {
    height: 40vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#SPW-Header {
    color: white;
    font-size: 80px;
    font-family: 'Copperplate', Arial, serif;
}

#SPW-Text {
    color: white;
    font-size: 25px;
    padding: 40px;
    text-align: center;
}

#Splash-Image {
    filter:brightness(50%);
    position: absolute;
    object-fit: cover;
    justify-self: center;
    width: 100vw;
    height: 100vh;
}


.Splash-Page-Input-Container {
    height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

#SPI-Text {
    font-size: 24px;
    color: white;
}

#SPI-Input {
    width: 80px;
    height: 24px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.SPI-Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 200px;
}

#SPI-Button {
    width: 75px;
    height: 25px;
}


@media (max-width: 800px) {
#SPW-Header {
        color: white;
        font-size: 50px;
        font-family: 'Copperplate', Arial, serif;
    }

    #SPW-Text {
        color: white;
        font-size: 15px;
        padding: 40px;
        text-align: center;
    }
}

